table
    {
     border:1px solid black;
    }

    th{
        font-size:20px;
        color:#ffffff;
        background-color:#8B4513;
        padding:20px;
        text-align:center;
    }

    td
    {
        font-size:20px;
        padding:20px;
        border:1px  #FFFF99;
        text-align:center;
    }

    button{
        background-color: #FFFF99;
        border: 2px solid black;
        color: black;
        font-size: 16px;
        padding: 10px;
        width: 30%;
        margin: 10px 80px;
    }

    #navbar{
    background-color:#CD853F;
    color:#fff;
    font-family:Tahoma, Geneva, sans-serif;
}

#navbar ul{
    padding:0;
    list-style: none;
}

#navbar li{
    display:inline;
}

#navbar a{
    color:#fff;
    text-decoration: none;
    font-size:18px;
    padding-right: 100px;
    justify-content: space-around;
}

#navbar a:hover{
    color: yellow;
}

.location ul{
    padding: 5px 50px 20px 50px;
}

.location a{
    text-decoration: none;
    color: #8B4513
}

.location a:visited{
    color:green;
}

.location li{
    padding-bottom: 6px;
    list-style-image: url('loc.png') ;
}

body{
    background-color:#f4f4f4;
    background-image: url("bg.JPG");
    color:#555;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height:1.6em;
    margin:0;
}

h1{
    font-family: 'Sansita Swashed', cursive;
}