<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>Page One</h1>
    <p> {{message}}</p>
    <p ng-show="person">Hello {{person.first}}  {{person.last}}</p>
    <p>
        PropahShop is an online plattform for multi-category fashion products for men, women and children. Founded in the year 2018, PropahShop has earned its customers trust and satisfaction by easing the process of online shopping and assuring timely delivery of the products purchased. The company has partnerships with boutique designers globally which keeps it updated of the latest trends and helps it provide better products with each passing day.
        
    </p>
</body>
</html>