<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhyClothesMatter</title>
</head>
<body>
    <h1>Why clothes matter</h1>
    <p>
        Clothes can be a shield we use to get through challenging times but more importantly tells the world who we are. Whether we like it or not, we're judged by our appearance and the clothes we wear, matter. Look sloppy and people may decide you're careless with little respect for details or yourself.
    </p>
</body>
</html>