<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <script src="angular.min.js"></script>
    <script src="filter_app.js"></script>
    <link href="filter.css" rel="stylesheet">

        <h1>Product Details</h1>
</head>

<body ng-app="MyApp">
    <div ng-controller="MyCtrl">
        Rows to Display:<input type="number" step="1" min="0" max="4" ng-model="rowlimit" />
        <br \>
        <br \>

        Search:<input type="text" placeholder="Seach Products" ng-model="Search" />
        <br \>
        <br \>
        <table>
            <tr>
                <th>Product</th>
                <th>Brand</th>
                <th>Material</th>
                <th>Colour</th>
                <th>Price</th>
               
            </tr>
            <tbody>
                <tr ng-repeat="product in product | limitTo:rowlimit |filter:Search ">
                    <td>{{product.item| uppercase}}</td>
                    <td>{{product.brand| uppercase}}</td>
                    <td>{{product.material | lowercase}}</td>
                    <td>{{product.colour| lowercase}}</td>
                    <td>{{product.price | currency:"&#8377;":0 }}</td>
                </tr>
            </tbody>
        </table>
    </div>
   
</body>
</html>
